<div class="container">
  <div class="example-card1" [innerHtml]="iframeHtml"></div>
  <img class="example-card2" src="https://static.lenskart.com/media/desktop/img/2-pairs-999_desktop.jpg">
  <img class="example-card3" src="https://static5.lenskart.com/images/cust_mailer/22-Mar-19/ipl_03.jpg" alt="Try in 3D"
    title="Try in 3D">
</div>
<div>
  <div style="overflow:hidden;width:96%;margin-left:2%;">
    <div style="width:12.9707113%;float:left;">
      <img src="https://static5.lenskart.com/images/cust_mailer/14-Jan-19/gold-strip_01.jpg" alt="Buy 1 Get 1 Free"
        title="Buy 1 Get 1 Free" style="width:100%;display:block;">
    </div>
    <div style="width:21.54811715%;float:left;">
      <img src="https://static5.lenskart.com/images/cust_mailer/14-Jan-19/gold-strip_02.jpg" alt="Classic Eyeglasses"
        title="Classic Eyeglasses" style="width:100%;display:block;">
    </div>
    <div style="width:21.54811715%;float:left;">
      <img src="https://static5.lenskart.com/images/cust_mailer/14-Jan-19/gold-strip_03.jpg" alt="Classic Sunglasses"
        title="Classic Sunglasses" style="width:100%;display:block;"> </div>
    <div style="width:21.54811715%;float:left;">
      <img src="https://static5.lenskart.com/images/cust_mailer/14-Jan-19/gold-strip_04.jpg" alt="Premium Eyeglasses"
        title="Premium Eyeglasses" style="width:100%;display:block;"> </div>
    <div style="width:22.38493724%;float:left;">
      <img src="https://static5.lenskart.com/images/cust_mailer/14-Jan-19/gold-strip_05.jpg" alt="Premium Sunglasses"
        title="Premium Sunglasses" style="width:100%;display:block;"> </div>
  </div>
</div>

<swiper [config]="config">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src="./assets/images/glass7.png" />
    </div>
    <div class="swiper-slide">
      <img src="./assets/images/glass7.png" />
    </div>
    <div class="swiper-slide">
      <img src="./assets/images/glass7.png" />
    </div>
    <div class="swiper-slide">
      <img src="./assets/images/glass7.png" />
    </div>
    <div class="swiper-slide">
      <img src="./assets/images/glass7.png" />
    </div>
    <div class="swiper-slide">
      <img src="./assets/images/glass7.png" />
    </div>
    <div class="swiper-slide">
      <img src="./assets/images/glass7.png" />
    </div>
  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination"></div>
  <!-- Add Arrows -->
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</swiper>




